<p style="color: green"><%= notice %></p>

<h1>Welcome to Hotwire Chat Room!</h1>

<%= turbo_stream_from "chats" %>
<div id="chats">
  <% @chats.each do |chat| %>
    <%= render chat %>
  <% end %>
</div>
<br>
<%= render "chat_link" %>
